<a href="https://colab.research.google.com/github/tarutear/2025-1/blob/main/Regression_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library(dplyr)
library(tidyverse)
library(readxl)
library(httr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ readr     2.1.5
✔ ggplot2   3.5.2     ✔ stringr   1.5.1
✔ lubridate 1.9.4     ✔ tibble    3.2.1
✔ purrr     1.0.4     ✔ tidyr     1.3.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [6]:
## train data set 불러오기
url <- "https://raw.githubusercontent.com/tarutear/2025-1/refs/heads/main/taiwan_real_estate2.csv"
destfile <- "taiwan_real_estate2.csv"

# 파일 다운로드 (바이너리 모드로!)
GET(url, write_disk(destfile, overwrite = TRUE))

# 엑셀 파일 읽기
df_taiwan <- read.csv(destfile)

# 데이터 확인
head(df_taiwan)

Response [https://raw.githubusercontent.com/tarutear/2025-1/refs/heads/main/taiwan_real_estate2.csv]
  Date: 2025-06-08 23:18
  Status: 200
  Content-Type: text/plain; charset=utf-8
  Size: 15.7 kB
<ON DISK>  /content/taiwan_real_estate2.csvNULL

  dist_to_mrt_m n_convenience house_age_years price_twd_msq
1   84.87882    10            30 to 45        11.467474
2  306.59470     9            15 to 30        12.768533
3  561.98450     5            0 to 15         14.311649
4  561.98450     5            0 to 15         16.580938
5  390.56840     5            0 to 15         13.040847
6 2175.03000     3            0 to 15          9.712557

In [9]:
set.seed(250614)
df_train <- df_taiwan %>% slice_sample(prop = 0.7)
df_test <- anti_join(df_taiwan, df_train)

Joining with `by = join_by(dist_to_mrt_m, n_convenience, house_age_years,
price_twd_msq)`

[1] 289

In [10]:
nrow(df_taiwan)
nrow(df_train)
nrow(df_test)

[1] 414

[1] 289

[1] 125

In [ ]:
#train 데이터 상위 6개 행 확인

In [ ]:
#n_convenience 변수를 예측변수로 price_twd_msq를 결과변수로 하여 simple linear regression model 만들기

In [ ]:
# model summary 확인

In [ ]:
# test 데이터셋으로 예측값을 만들고 pred_test 변수에 저장하기

In [ ]:
# test 셋에 pred_test 변수를 cbind함수를 활용하여 붙이기

In [ ]:
# 잔차 계산